<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
</head>
<body>
    <style>
        body{
            font-size: large;
        }
        
            
    
      </style>
    
    <!-- <div class="row"> -->
        <!-- <div class="col-md-3"></div> -->
        <div  id="whatToPrint2"  class="printTemplates template2" >
            <div class="my-5 page" size="A4" >
                <div class="" id="printdiv2">
    
                    <section class="top-content bb d-flex justify-content-between p-3" style="background-color: greenyellow;">
                        <div class="logo mt-4">
                            <div class="position-relative">
                                <h5 style="color: rgb(0, 0, 0);">Recurring Bill. <span>{{  bill1.recurring_bill_number }}</span></h5>
                                <p class="ml-2 text-dark"><b>{{bill1.status}}</b></p>
                            </div>
                        </div>
                        <div class="top-left">
                            <div class="top-left">
                               
                               
                            </div>
                            <h5 style="color: rgb(0, 0, 0);font-weight: 500;">{{ companyName }}</h5>
                                    <p style="color: rgb(0, 0, 0);" class="address "> {{companyData.caddress}}<br>
                                        {{companyData.city}},
                                        {{companyData.state}}<br>
                                        {{companyData.pincode}}<br>
                                        phone: {{companyData.phone}}<br>
                                        {{companyData.email}}
                                    </p>
                        </div>
                    </section>
        
                    <section class="store-user mt-5 p-2">
                        <div class="col-12">
                            <div class="row bb pb-3">
                                <div class="col-7">
                                    <p>Bill To,</p>
                                    <h5 style="color: #000;">{{bill1.vendor.first_name}} {{bill1.vendor.last_name}}</h5>
                                    <p class="address " style="color:#000">{{bill1.vendor.email}}<br>
                                        {% if vendor_gstin %}
                                          GSTIN:{{ vendor_gstin }}
                                        {% endif %}
                                        <p class="address "> {{bill1.vendor.billing_street}}<br>
                                            {{bill1.vendor.billing_city}},
                                            {{bill1.vendor.billing_state}}<br>
                                            {{bill1.vendor.billing_pincode}}<br>
                                        </p>
                                </div>
                                <div class="col-5">
                                    <p style="color:#000">Deliver To: </p>
                                    <h5 style="color:#000">{{bill1.customer.first_name}} {{bill1.customer.last_name}}</h5>
                                        <p class="address " style="color:#000"> {{bill1.customer.billing_street}}<br>
                                            {{bill1.customer.billing_city}},
                                            {{bill1.customer.billing_state}}<br>
                                            {{bill1.customer.billing_pincode}}<br>
                                        
                                        {{bill1.customer.email}}<br>
                                        {% if bill1.customer.gstin %}
                                          GSTIN:{{ bill1.customer.gstin }}
                                        {% endif %}</p><br>
                                        <p style="color:#000">Date : <span>{{ bill1.date | date:'d-m-Y' }}</span></p>
                                        <!-- <p style="color:#000">End Date : <span> {{ bill1.end_date}}</span></p> -->
                                       
                                </div>
                            </div>
                           
                        </div>
                    </section>
        
                    <section class="product-area p-2">
                        <table class=" table table-hover table-bordered " id="table1">
                            <thead >
                                <tr >
                                    <td style="text-align: center; font-weight:bold; color:black;background-color: greenyellow; ">Items</td>
                                    <td style="font-weight:bold; color:black;background-color: #ccc; ">Hsn</td>
                                    <td style="font-weight:bold; color:black;background-color: #ccc; ">Price</td>
                                    <td style="font-weight:bold; color:black;background-color: #ccc; ">Quantity</td>
                                    <td style="font-weight:bold; color:black;background-color: #ccc; ">Tax</td>
                                    <td style="font-weight:bold; color:black;background-color: #ccc; ">Discount</td>
                                    <td style="font-weight:bold; color:black;background-color: greenyellow;">Total</td>
                                </tr>
                            </thead>
                            <tbody>
    
                                {% for j in items  %}
                                <tr >
                                    <td style="color:black; text-align: center;background-color: greenyellow;">
                                        {{j.items.name}}
                                        
                                    </td>                                            
                                    <td style="color:black;background-color: #ccc; ">{{j.hsn}}</td>
                                    <td style="color:black;background-color: #ccc; ">{{j.price}}</td>
                                    <td style="color:black;background-color: #ccc; ">{{j.quantity}}</td>
                                    <td style="color:black;background-color: #ccc; ">{{j.tax_rate}} %</td>
                                    <td style="color:black;background-color: #ccc; ">{{j.discount}} </td>
                                    <td style="color:black;background-color: greenyellow;">{{j.total}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table><br><br>
                    </section>
        
                    <section class="balance-info">
                        <div class="row">
                            <div class="col-6 ml-4">
                                <p class="m-0 font-weight-bold" style="color:black"> Note: </p>
                                <p style="color:black">{{bill1.description}}</p>
                            </div>
                            <div class="col-5">
                                <table class="table border-0 table-hover">
                                    <tr >
                                        <td style="color:black">Sub Total :</td>
                                        <td style="color:black">{{bill1.sub_total}}</td>
                                    </tr>
                                    <!-- {% if bill1.discount != "0" %}
                                    <tr>
                                        <td style="color:black">Discount</td>
                                        <td style="color:black">{{bill1.discount}}</td>
                                    </tr>
                                    {% endif %} -->
                                    
                                    {% if bill1.igst != 0 %}
                                    <tr>
                                        <td style="color:black">IGST :</td>
                                        <td style="color:black">{{bill1.taxAmount_igst}}</td>
                                    </tr>
                                    {% endif %}
                                    {% if bill1.cgst != 0 %}
                                    <tr>
                                        <td style="color:black">CGST :</td>
                                        <td style="color:black">{{bill1.cgst}}</td>
                                    </tr>
                                    {% endif %}
                                    
                                    {% if bill1.sgst != 0 %}
                                    <tr>
                                        <td style="color:black">SGST :</td>
                                        <td style="color:black">{{bill1.sgst}}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <td style="color:black">Total Tax :</td>
                                        <td style="color:black">{{bill1.taxAmount_igst}}</td>
                                    </tr>
                                    {% if bill1.shipping_charge != 0 %}
                                    <tr>
                                        <td style="color:black">Shipping Charge :</td>
                                        <td style="color:black">{{bill1.shipping_charge}}</td>
                                    </tr>
                                    {% endif %}
                                    {% if bill1.adjustment != 0 %}
                                    <tr>
                                        <td style="color:black">Adjustment :</td>
                                        <td style="color:black">{{bill1.adjustment}}</td>
                                    </tr>
                                    {% endif %}
                                    <tfoot>
                                        <tr>
                                            <td style="color:rgb(102, 168, 3)">Grand Total:</td>
                                            <td style="color:rgb(103, 170, 3) ;">{{bill1.grand_total}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div> 
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <!-- <div class="col-sm-3 m-0 p-0"><label style="color: #000;"><b>Authorized Signature</b></label></div>
                            <div class="col-sm-4 m-0 p-0"><input type="text" id="sign"></div> -->
                            <div class="col-sm-4 m-0 p-0"></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <!-- <div class="col-sm-3 m-0 p-0"><label style="color: #000;"><b>Authorized Signature</b></label></div>
                            <div class="col-sm-4 m-0 p-0"><input type="text" id="sign"></div> -->
    <center>
    <div class="col-sm-12 m-0 p-0 text-dark">This is system generated bill Its not required signature</div>
    
    </center>                                </div>
                    </section>
        
                    <!-- Cart BG -->
                    <img src="cart.jpg" class="img-fluid cart-bg" alt="">
        
                    <!-- <footer>
                        <hr>
                        <p class="m-0 text-center">
                            View THis Invoice Online At - <a href="#!"> invoice/saburbd.com/#868 </a>
                        </p>
                        <div class="social pt-3">
                            <span class="pr-2">
                                <i class="fas fa fa-mobile-alt"></i>
                                <span>0123456789</span>
                            </span>
                            <span class="pr-2">
                                <i class="fas fa fa-envelope"></i>
                                <span>me@saburali.com</span>
                            </span>
                            <span class="pr-2">
                                <i class="fab fa-facebook-f"></i>
                                <span>/sabur.7264</span>
                            </span>
                            <span class="pr-2">
                                <i class="fab fa-youtube"></i>
                                <span>/abdussabur</span>
                            </span>
                            <span class="pr-2">
                                <i class="fab fa-github"></i>
                                <span>/example</span>
                            </span>
                        </div>
                    </footer> -->
                </div>
            </div>
        </div>
        <!-- <div class="col-md-3"></div> -->
    <!-- </div> -->

</body>
</html>